* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
}

button,
p {
  font-family: Inter;
}

button {
  outline: none;
  border: 0px;
  cursor: pointer;
}

.container {
  max-width: 1180px;
  margin: auto;
}

a {
  text-decoration: none;
}

input {
  border: 0px;
  &:focus {
    border: 0px;
    outline: none;
  }
}

svg,
img {
  display: block;
}

.pagination button {
  color: #303030;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
}

.pagination .Mui-selected {
  border-radius: 3.75px;
  background-color: #ae0000 !important;
  color: #fff;
}

.w-100 {
  width: 100%;
}
